pillow>=10.3.0
h11>=0.16.0
urllib3>=1.26.19
anyio>=4.4.0
fonttools>=4.43.0
markdown>=3.8.1
zipp>=3.19.1
requests>=2.32.2
mkdocs-material>=9.5.32
pygments>=2.20.0
numpy>=1.22.0
requests
pandas
openai
matplotlib
mkdocs
mkdocs-material
